<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Form</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout inner_page about_page">
     
      
         <div class="header_midil">
            <div class="container-width">
               <div class="row d_flex">
                  <div class="col-lg-9 col-md-12 col-sm-12">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="/index">Home</a>
                                 
                              </li>
                              
                
                            <li><a  class="nav-link" href="/Image_Processing"><span>Data-processing</span></a></li>
                              
                           </ul>
                        </div>
                     </nav>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>

    <!-- work -->
    <div class="work">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage text_align_center ">
                   
                   <p style="text-align: center;">Prediction of EV Charging Behavior using Machine Learning</p>
                </div>
             </div>
          </div>
         
    <div style="margin-left: 375px;">
        <div>
           <div>
              <div>
                 <div class=" col-md-6 marg_left">
                        <h2 style="font-size: large;"><strong>Prediction of EV Charging Behavior</strong> Using ML!</h2>
                   <br>
                        <form style="text-align: center;" method="POST" action="/predict">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Time"><p class="font-weight-bold">power</p></label>
                                    <input type="text" name="Time" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>


                                <div class="form-group">
                                    <label for="V1"><p class="font-weight-bold">fuel Type</p></label>
                                    <input type="text" name="V1" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V2"><p class="font-weight-bold">ev Status</p></label>
                                    <input type="text" name="V2" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V3"><p class="font-weight-bold">News mentions</p></label>
                                    <input type="text" name="V3" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V4"><p class="font-weight-bold">Blog mentions</p></label>
                                    <input type="text" name="V4" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V5"><p class="font-weight-bold">Policy mentions</p></label>
                                    <input type="text" name="V5" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label for="V6"><p class="font-weight-bold">Patent mentions</p></label>
                                    <input type="text" name="V6" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                               

                                <div class="form-group">
                                    <label for="V7"><p class="font-weight-bold">odometer</p></label>
                                    <input type="text" name="V7" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V8"><p class="font-weight-bold">Peer review mentions</p></label>
                                    <input type="text" name="V8" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V9"><p class="font-weight-bold">Weibo mentions</p></label>
                                    <input type="text" name="V9" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V10"><p class="font-weight-bold">Facebook mentions</p></label>
                                    <input type="text" name="V10" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V11"><p class="font-weight-bold">Wikipedia mentions</p></label>
                                    <input type="text" name="V11" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label for="V12"><p class="font-weight-bold">Google+ mentions</p></label>
                                    <input type="text" name="V12" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>
                            </div>

                            <div class="col-md-4">
                                

                                <div class="form-group">
                                    <label for="V13"><p class="font-weight-bold">LinkedIn mentions</p></label>
                                    <input type="text" name="V13" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V14"><p class="font-weight-bold">Reddit mentions</p></label>
                                    <input type="text" name="V14" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V15"><p class="font-weight-bold">Pinterest mentions</p></label>
                                    <input type="text" name="V15" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V16"><p class="font-weight-bold">F1000 mentions</p></label>
                                    <input type="text" name="V16" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label for="V17"><p class="font-weight-bold">Q&A mentions</p></label>
                                    <input type="text" name="V17" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>
                            </div>
                           
                            <div class="col-md-4">
                               
                            
                                <div class="form-group">
                                    <label for="V18"><p class="font-weight-bold">Video mentions</p></label>
                                    <input type="text" name="V18" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V19"><p class="font-weight-bold">Syllabi mentions</p></label>
                                    <input type="text" name="V19" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                                <div class="form-group">
                                    <label for="V20"><p class="font-weight-bold">Number of Mendeley readers</p></label>
                                    <input type="text" name="V20" class="form-control" required>
                                    <small id="Help" class="from-text text-muted"></small>
                                </div>

                            

                               
                            </div>
                            <button class="btn-lg btn-block btn btn-primary mb-5"  type="Submit" value="Submit">Submit</button>
                            

                        </form>



</div>
</div>
</div>
</div>
<!-- end work -->
<!--  footer -->

<!-- end footer -->
<!-- Javascript files-->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/jquery-3.0.0.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/custom.js"></script>
</body>
</html>