<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   </head>
   <body style="background-image: url('/images/ml_image.jpg');">
      <div class="container">
         <h1>
            <div style="text-align:center"><font colour="white">
               Prediction of EV Charging Behavior Outcome of Analysis</font>
            </div>
         </h1>
         <hr>
         <div  style="width:21.5em;margin:0 auto;">
            <div >
               <p ><h1><font color="blue">{{prediction}}</font></h1></p>
               <p><img src={{file_location}} alt="Graph plotted by the linear regression"></p>
            </div>
         </div>
      </div>
   </body>
</html>